mixin github-watch
    iframe.github-btn(src="http://ghbtns.com/github-btn.html?user=buildbot&repo=buildbot&type=watch&count=true",
        allowtransparency="true",frameborder="0",scrolling="0",width="100px",height="20px")

mixin github-fork
    iframe.github-btn(src="http://ghbtns.com/github-btn.html?user=buildbot&repo=buildbot&type=fork&count=true",
        allowtransparency="true",frameborder="0",scrolling="0",width="100px",height="20px")

mixin twitter
    iframe(allowtransparency="true",frameborder="0",scrolling="no",
        src="http://platform.twitter.com/widgets/tweet_button.1362636220.html#_=1362904126336&count=horizontal&hashtags=buildbot&id=twitter-widget-0&lang=en&size=m&text=Buildbot&url=http%3A%2F%2Fbuildbot.net",
        class="twitter-share-button twitter-count-horizontal",
        style="width: 107px; height: 20px;",title="Twitter Tweet Button",data-twttr-rendered="true")

mixin plus
    #___plusone_0(style='height: 20px; width: 90px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial;')
              iframe#I0_1362904126293(frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;', tabindex='0', vspace='0', width='100%', name='I0_1362904126293', src='https://plusone.google.com/_/+1/fastbutton?bsv&size=medium&hl=en-US&origin=http%3A%2F%2Fbuildbot.net&url=http%3A%2F%2Fbuildbot.net&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.fr.BaaGtL5Znko.O%2Fm%3D__features__%2Fam%3DUQE%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTPDGgtSdnUxqi2riAFY2FJO-u2PGA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Conload&id=I0_1362904126293&parent=http%3A%2F%2Fbuildbot.net&rpctoken=39476972', allowtransparency='true', data-gapiattached='true', title='+1')
            script(type='text/javascript')
              (function () {
              var po = document.createElement('script');
              po.type = 'text/javascript';
              po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(po, s);
              })();

